.note {
  border-radius: 5px;
  cursor: pointer;
  margin: 3px;
  padding: 17px;
}

.note:hover,
.note:focus {
  background-color: #eee;
  /* animate fade in? */
}

.name,
.content {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* todo */
}

.name {
  font-weight: 900;
}
